<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="TwitterBearToken" value="AAAAAAAAAAAAAAAAAAAAAOZAOQEAAAAA4VTyMkfZTi2Iq3xcRJh1zV7lr3M%3DEsCUvcxB0JMkDe1CrsfbhwMS1li9CzIDLM8FjDHFNqTDH1bx6g" />
		<add key="TwitterPublicToken" value="CzwJxhnPUqopvjCoZWXn2WOcR" />
		<add key="TwitterSecretToken" value="W84Ew2KvI5V1gOz9dOIUhRYOE7Hb6kTaOxGiFzNPLnEDpLmsr6" />
		<add key="AutoRefreshInterval" value="5" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>